/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Dummy app artifacts
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/themes/*
!spec/dummy/themes/.keep
